# Ignore document files
202324100003_Enoch-Kwateh-Dongbo_Morphological-Image-Processing_exp2.docx
202324100003_Enoch-Kwateh-Dongbo_Morphological-Image-Processing_exp2.pdf
202324100003_Enoch-Kwateh-Dongbo_Morphological-Image-Processing_exp2.zip
Experiment 2-requirement.docx
